html, body, header, footer {
  width: 100%;
  margin: 0;
}

header {
  background-color: rgb(70, 70, 70);
  padding: 2px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0 40px;
  padding: 0;
  align-items: center;
}

li {
  padding: 10px;
  color: lightgray;
  margin: auto;
}

div {
  padding: 15px 30px;
  display: flex;
  justify-content: center;
}

article {
  width: 450px;
  padding-left: 30px;
}

p {
  overflow-y: scroll;
  height: 320px;
}

img {
  padding: 0 15px;
}

h1 {
  margin: 0;
}

header {
  margin-bottom: 15px;
}

button {
  background-color: black;
  color: white;
}

button:hover {
  background-color: white;
  color: black;
}